{:deps     {:aliases [:cljs :dev]}
 :nrepl    {:port 9000}
 :jvm-opts ["-Xmx2G"]
 :builds   {:web
            {:target     :browser
             :output-dir "resources/public/js/main"
             :asset-path "/js/main"
             :modules    {:main {:init-fn yardwerk.client/init
                                 :entries [yardwerk.client]}}
             :dev        {:closure-defines  {'goog.DEBUG true}
                          :compiler-options {:external-config {:guardrails {}}}}
             :devtools   {:after-load yardwerk.client/refresh
                          :preloads   [com.fulcrologic.fulcro.inspect.preload yardwerk.development-preload]}}

            :native
            {:target     :react-native
             :init-fn    yardwerk.client-native/init
             :output-dir "mobile/app"
             :dev        {:closure-defines  {'goog.DEBUG                  true
                                             yardwerk.client-native/SERVER_URL "http://localhost:3000/api-native"}
                          :compiler-options {:external-config {:guardrails {}}}}
             :release    {:compiler-options {:optimizations     :simple
                                             :infer-externs     :auto
                                             :variable-renaming :off
                                             :property-renaming :off
                                             :pretty-print      true
                                             :source-map        true}}
             :js-options {:node-modules-dir "mobile/node_modules"}
             :devtools   {:autoload   true
                          :after-load yardwerk.client-native/start
                          :preloads   [shadow.expo.keep-awake yardwerk.inspect-native-preload]}}}}
